/********* Start Full Site Deafult CSS  ***************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}



body {
  font-family: var(--th__primary-font);
  color: var(--th__theme-slate-gray);
  font-size: var(--th__fs-sm);
  line-height: var(--th__lh-sm);
  overflow-y: auto;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  overflow-x: hidden;
  @media (max-width:575px){
    font-size: var(--th__fs-xsm) !important;
    -webkit-font-smoothing: antialiased;
    line-height: var(--th__lh-xsm) !important;
  }
}
.vs-page__main {
  perspective: 1000px;
}
.vs-page__main--layouts {
  position: relative;
  z-index: 999;
}
html.lenis,
html.lenis body {
height: auto;
}

.lenis.lenis-smooth {
scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
}

.lenis.lenis-stopped {
overflow: clip;
}

.lenis.lenis-smooth iframe {
pointer-events: none;
}
/* Custom Scrollbar for the entire website */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #D3224D, #D3224D);
  border-radius: 15px;
}

/* Scrollbar on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #D3224D transparent;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a,
ins {
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--th__secondary-font);
  margin: 0;
  padding: 0;
  color: var(--th__theme-secondary-color);
  font-weight: var(--th__fw-medium);
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
article,
aside,
span,
li,
button,
input,
textarea {
  text-wrap: auto;
  list-style-type: none;
}

p,
a,
article,
aside,
span,
li,
a,
button,
input,
textarea {
  font-family: var(--th__primary-font);
}

/********* End Full Site Deafult CSS  ***************/