// ===================== Start Full Template variables ================ //
:root{

    /**
     @Start Defoult Template Color Palet
   */
    --th__primary-color:#fff;
    --th__secondary-color:#000;
    /**
     @Start Defoult Template Color Palet
   */

    /**
     @Start Template Color Palet
   */
   --th__theme-primary-color:#D3224D;
   --th__theme-secondary-color:#081933;
   --th__theme-slate-gray:#506172;
   --th__theme-abyss-black: #03060E;
   --th__theme-misty-sliver-blue:#B7C2CC;
   --th__theme-light-orange:#FF9F43;
   --th__theme-section-bg:#EEF1F4;
   --th__theme-varpire-black:#080809;
   --th__theme-eerie-black:#141422;
   --th__theme-foggy-slate:#6E7070;
   --th__theme-lavender-gray:#C6C9D4;
   --th__theme-light-gray:#E7E7E7;
   /**
    @Start Template Color Palet
  */


    /** @Start Template Font Family */
    --th__primary-font:"Plus Jakarta Sans", sans-serif;
    --th__secondary-font:"Playfair Display", serif;
    --th__sub-title-font:"Urbanist", sans-serif;
    /** @End Template Font Family */

   
    /**
     @Start Template Font Weight
   */
    --th__fw-normal: normal;
    --th__fw-thin: 100;
    --th__fw-elight: 200;
    --th__fw-light: 300;
    --th__fw-regular: 400;
    --th__fw-medium: 500;
    --th__fw-sbold: 600;
    --th__fw-bold: 700;
    --th__fw-ebold: 800;
    --th__fw-black: 900;
    /**
     @EndTemplate Font Weight
   */

    /**
     @Start Template Font Size
   */
    --th__fs-xxxl:72px;
    --th__fs-xxl:40px;
    --th__fs-xl:28px;
    --th__fs-lg:24px;
    --th__fs-md:20px;
    --th__fs-sm:18px;
    --th__fs-xsm: 16px;
    --th__fs-xxsm:14px;
    --th__icon-font: "Font Awesome 6 Pro";
    /**
     @End Template Font Size
   */

       /**
     @Start Template Line Height
   */
   --th__lh-xxxl:88px;
   --th__lh-xxl:48px;
   --th__lh-xl:40px;
   --th__lh-lg:36px;
   --th__lh-md:30px;
   --th__lh-sm:32px;
   --th__lh-xsm:28px;
   --th__lh-xxsm:150%;
   /**
    @End Template Line Height
  */


    /** @Start Template Border Color */
    --th__theme-border-color:#D3DBE2;
    /** @End Template Border Color */


      
}
// ===================== End Full Template variables ================ //
