<!-- Start Instructros Area Home 3 -->
<section class="th__instructros-area position-relative th__space-top th__space-top-styel-2 th__space-bottom">
    <span class="th__instructros-area__shep-1"></span>
    <img src="assets/images/hoem-3/shep/categories-shep-1.png" alt="Stadum" class="th__instructros-area__shep-2">
    <img src="assets/images/hoem-3/shep/instructros-shep-1.png" alt="Stadum" class="th__instructros-area__shep-3">
    <div class="th__container">
        <div class="th__instructros-area__wrapper-top th__mb-70 th__991__mb-50">
            <div class="th__title-style">
                <p class="th__title-style__sub-title th__theme-primary-color th__subfont-title th__fw-600 text-uppercase wow th__slide__anim-left">INSTRUCTORS</p>
                <h2 class="th__title-style__title th__fw-500 text-capitalize wow th__slide__anim-right">our experienced  <span class="th__fw-500 th__theme-primary-color th__font-secondary text-capitalize"> instructors </span> <br>  courses to you</h2>
            </div>
            <div class="th__swiper-arrow-wrapper">
                <span class="th__swiper-prev-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                        <path d="M8.99996 0.591309C8.99996 1.37453 8.22379 2.54656 7.43914 3.53086C6.42874 4.79813 5.22289 5.90521 3.83921 6.75046C2.80264 7.38338 1.54391 7.99096 0.532763 7.99096M8.99996 15.4089C8.99996 14.6257 8.22379 13.4537 7.43914 12.4694C6.42874 11.2022 5.22289 10.095 3.83921 9.24976C2.80264 8.61683 1.54391 8.00926 0.532763 8.00926M0.532763 8.00011H17.4672" stroke="#081933"/>
                    </svg>
                </span>
                <span class="th__swiper-next-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M9.00004 1.59131C9.00004 2.37453 9.77621 3.54656 10.5609 4.53086C11.5713 5.79813 12.7771 6.90521 14.1608 7.75046C15.1974 8.38338 16.4561 8.99096 17.4672 8.99096M9.00004 16.4089C9.00004 15.6257 9.77621 14.4537 10.5609 13.4694C11.5713 12.2022 12.7771 11.095 14.1608 10.2498C15.1974 9.61683 16.4561 9.00926 17.4672 9.00926M17.4672 9.00011H0.532837" stroke="#081933"/>
                    </svg>
                </span>
            </div>
        </div>
        <div class="th__instructros-area__wrapper-bottom wow fadeInUp" data-wow-delay="0.89s">
            <div class="swiper th__home-three-instructros-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="th__instructros-content th__primary-color-bg">
                            <img src="assets/images/hoem-3/instructors/1.png" alt="Stadum" class="th__instructros-content__image">
                            <div class="th__instructros-info">
                                <div class="th__instructros-info-inner">
                                    <a href="#" class="th__instructros-info__icon th__normal-border th__rounded-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M10 1.76807C10 2.63832 10.8624 3.94057 11.7343 5.03423C12.8569 6.44232 14.1968 7.6724 15.7342 8.61157C16.8859 9.31482 18.2845 9.9899 19.408 9.9899M10 18.2321C10 17.3618 10.8624 16.0596 11.7343 14.9659C12.8569 13.5579 14.1968 12.3277 15.7342 11.3886C16.8859 10.6853 18.2845 10.0102 19.408 10.0102M19.408 10.0001H0.59201" stroke="#081933"/>
                                        </svg>
                                    </a>
                                    <div class="th__title-style-2">
                                        <h4 class="th__title-style-2__title"><a href="#" class="th__theme-secondary-color th__font-secondary th__fw-500">Kristin Watson</a></h4>
                                    </div>
                                    <p class="th__instructros-info__work-type th__font-16 th__fw-500 th__slate-gray">Teacher of Development</p>
                                    <div class="th__instructros-info__social">
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th__instructros-content th__primary-color-bg">
                            <img src="assets/images/hoem-3/instructors/2.png" alt="Stadum" class="th__instructros-content__image">
                            <div class="th__instructros-info">
                                <div class="th__instructros-info-inner">
                                    <a href="#" class="th__instructros-info__icon th__normal-border th__rounded-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M10 1.76807C10 2.63832 10.8624 3.94057 11.7343 5.03423C12.8569 6.44232 14.1968 7.6724 15.7342 8.61157C16.8859 9.31482 18.2845 9.9899 19.408 9.9899M10 18.2321C10 17.3618 10.8624 16.0596 11.7343 14.9659C12.8569 13.5579 14.1968 12.3277 15.7342 11.3886C16.8859 10.6853 18.2845 10.0102 19.408 10.0102M19.408 10.0001H0.59201" stroke="#081933"/>
                                        </svg>
                                    </a>
                                    <div class="th__title-style-2">
                                        <h4 class="th__title-style-2__title"><a href="#" class="th__theme-secondary-color th__font-secondary th__fw-500">Ralph Edwards</a></h4>
                                    </div>
                                    <p class="th__instructros-info__work-type th__font-16 th__fw-500 th__slate-gray">Teacher of Development</p>
                                    <div class="th__instructros-info__social">
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th__instructros-content th__primary-color-bg">
                            <img src="assets/images/hoem-3/instructors/1.png" alt="Stadum" class="th__instructros-content__image">
                            <div class="th__instructros-info">
                                <div class="th__instructros-info-inner">
                                    <a href="#" class="th__instructros-info__icon th__normal-border th__rounded-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M10 1.76807C10 2.63832 10.8624 3.94057 11.7343 5.03423C12.8569 6.44232 14.1968 7.6724 15.7342 8.61157C16.8859 9.31482 18.2845 9.9899 19.408 9.9899M10 18.2321C10 17.3618 10.8624 16.0596 11.7343 14.9659C12.8569 13.5579 14.1968 12.3277 15.7342 11.3886C16.8859 10.6853 18.2845 10.0102 19.408 10.0102M19.408 10.0001H0.59201" stroke="#081933"/>
                                        </svg>
                                    </a>
                                    <div class="th__title-style-2">
                                        <h4 class="th__title-style-2__title"><a href="#" class="th__theme-secondary-color th__font-secondary th__fw-500">Jerome Bell</a></h4>
                                    </div>
                                    <p class="th__instructros-info__work-type th__font-16 th__fw-500 th__slate-gray">Teacher of Development</p>
                                    <div class="th__instructros-info__social">
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th__instructros-content th__primary-color-bg">
                            <img src="assets/images/hoem-3/instructors/4.png" alt="Stadum" class="th__instructros-content__image">
                            <div class="th__instructros-info">
                                <div class="th__instructros-info-inner">
                                    <a href="#" class="th__instructros-info__icon th__normal-border th__rounded-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M10 1.76807C10 2.63832 10.8624 3.94057 11.7343 5.03423C12.8569 6.44232 14.1968 7.6724 15.7342 8.61157C16.8859 9.31482 18.2845 9.9899 19.408 9.9899M10 18.2321C10 17.3618 10.8624 16.0596 11.7343 14.9659C12.8569 13.5579 14.1968 12.3277 15.7342 11.3886C16.8859 10.6853 18.2845 10.0102 19.408 10.0102M19.408 10.0001H0.59201" stroke="#081933"/>
                                        </svg>
                                    </a>
                                    <div class="th__title-style-2">
                                        <h4 class="th__title-style-2__title"><a href="#" class="th__theme-secondary-color th__font-secondary th__fw-500">Leslie Alexander</a></h4>
                                    </div>
                                    <p class="th__instructros-info__work-type th__font-16 th__fw-500 th__slate-gray">Teacher of Development</p>
                                    <div class="th__instructros-info__social">
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th__instructros-content th__primary-color-bg">
                            <img src="assets/images/hoem-3/instructors/2.png" alt="Stadum" class="th__instructros-content__image">
                            <div class="th__instructros-info">
                                <div class="th__instructros-info-inner">
                                    <a href="#" class="th__instructros-info__icon th__normal-border th__rounded-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M10 1.76807C10 2.63832 10.8624 3.94057 11.7343 5.03423C12.8569 6.44232 14.1968 7.6724 15.7342 8.61157C16.8859 9.31482 18.2845 9.9899 19.408 9.9899M10 18.2321C10 17.3618 10.8624 16.0596 11.7343 14.9659C12.8569 13.5579 14.1968 12.3277 15.7342 11.3886C16.8859 10.6853 18.2845 10.0102 19.408 10.0102M19.408 10.0001H0.59201" stroke="#081933"/>
                                        </svg>
                                    </a>
                                    <div class="th__title-style-2">
                                        <h4 class="th__title-style-2__title"><a href="#" class="th__theme-secondary-color th__font-secondary th__fw-500">Ralph Edwards</a></h4>
                                    </div>
                                    <p class="th__instructros-info__work-type th__font-16 th__fw-500 th__slate-gray">Teacher of Development</p>
                                    <div class="th__instructros-info__social">
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th__instructros-content th__primary-color-bg">
                            <img src="assets/images/hoem-3/instructors/1.png" alt="Stadum" class="th__instructros-content__image">
                            <div class="th__instructros-info">
                                <div class="th__instructros-info-inner">
                                    <a href="#" class="th__instructros-info__icon th__normal-border th__rounded-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M10 1.76807C10 2.63832 10.8624 3.94057 11.7343 5.03423C12.8569 6.44232 14.1968 7.6724 15.7342 8.61157C16.8859 9.31482 18.2845 9.9899 19.408 9.9899M10 18.2321C10 17.3618 10.8624 16.0596 11.7343 14.9659C12.8569 13.5579 14.1968 12.3277 15.7342 11.3886C16.8859 10.6853 18.2845 10.0102 19.408 10.0102M19.408 10.0001H0.59201" stroke="#081933"/>
                                        </svg>
                                    </a>
                                    <div class="th__title-style-2">
                                        <h4 class="th__title-style-2__title"><a href="#" class="th__theme-secondary-color th__font-secondary th__fw-500">Kristin Watson</a></h4>
                                    </div>
                                    <p class="th__instructros-info__work-type th__font-16 th__fw-500 th__slate-gray">Teacher of Development</p>
                                    <div class="th__instructros-info__social">
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th__instructros-content th__primary-color-bg">
                            <img src="assets/images/hoem-3/instructors/2.png" alt="Stadum" class="th__instructros-content__image">
                            <div class="th__instructros-info">
                                <div class="th__instructros-info-inner">
                                    <a href="#" class="th__instructros-info__icon th__normal-border th__rounded-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M10 1.76807C10 2.63832 10.8624 3.94057 11.7343 5.03423C12.8569 6.44232 14.1968 7.6724 15.7342 8.61157C16.8859 9.31482 18.2845 9.9899 19.408 9.9899M10 18.2321C10 17.3618 10.8624 16.0596 11.7343 14.9659C12.8569 13.5579 14.1968 12.3277 15.7342 11.3886C16.8859 10.6853 18.2845 10.0102 19.408 10.0102M19.408 10.0001H0.59201" stroke="#081933"/>
                                        </svg>
                                    </a>
                                    <div class="th__title-style-2">
                                        <h4 class="th__title-style-2__title"><a href="#" class="th__theme-secondary-color th__font-secondary th__fw-500">Ralph Edwards</a></h4>
                                    </div>
                                    <p class="th__instructros-info__work-type th__font-16 th__fw-500 th__slate-gray">Teacher of Development</p>
                                    <div class="th__instructros-info__social">
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th__instructros-content th__primary-color-bg">
                            <img src="assets/images/hoem-3/instructors/1.png" alt="Stadum" class="th__instructros-content__image">
                            <div class="th__instructros-info">
                                <div class="th__instructros-info-inner">
                                    <a href="#" class="th__instructros-info__icon th__normal-border th__rounded-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M10 1.76807C10 2.63832 10.8624 3.94057 11.7343 5.03423C12.8569 6.44232 14.1968 7.6724 15.7342 8.61157C16.8859 9.31482 18.2845 9.9899 19.408 9.9899M10 18.2321C10 17.3618 10.8624 16.0596 11.7343 14.9659C12.8569 13.5579 14.1968 12.3277 15.7342 11.3886C16.8859 10.6853 18.2845 10.0102 19.408 10.0102M19.408 10.0001H0.59201" stroke="#081933"/>
                                        </svg>
                                    </a>
                                    <div class="th__title-style-2">
                                        <h4 class="th__title-style-2__title"><a href="#" class="th__theme-secondary-color th__font-secondary th__fw-500">Jerome Bell</a></h4>
                                    </div>
                                    <p class="th__instructros-info__work-type th__font-16 th__fw-500 th__slate-gray">Teacher of Development</p>
                                    <div class="th__instructros-info__social">
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th__instructros-content th__primary-color-bg">
                            <img src="assets/images/hoem-3/instructors/4.png" alt="Stadum" class="th__instructros-content__image">
                            <div class="th__instructros-info">
                                <div class="th__instructros-info-inner">
                                    <a href="#" class="th__instructros-info__icon th__normal-border th__rounded-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M10 1.76807C10 2.63832 10.8624 3.94057 11.7343 5.03423C12.8569 6.44232 14.1968 7.6724 15.7342 8.61157C16.8859 9.31482 18.2845 9.9899 19.408 9.9899M10 18.2321C10 17.3618 10.8624 16.0596 11.7343 14.9659C12.8569 13.5579 14.1968 12.3277 15.7342 11.3886C16.8859 10.6853 18.2845 10.0102 19.408 10.0102M19.408 10.0001H0.59201" stroke="#081933"/>
                                        </svg>
                                    </a>
                                    <div class="th__title-style-2">
                                        <h4 class="th__title-style-2__title"><a href="#" class="th__theme-secondary-color th__font-secondary th__fw-500">Leslie Alexander</a></h4>
                                    </div>
                                    <p class="th__instructros-info__work-type th__font-16 th__fw-500 th__slate-gray">Teacher of Development</p>
                                    <div class="th__instructros-info__social">
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="th__instructros-content th__primary-color-bg">
                            <img src="assets/images/hoem-3/instructors/2.png" alt="Stadum" class="th__instructros-content__image">
                            <div class="th__instructros-info">
                                <div class="th__instructros-info-inner">
                                    <a href="#" class="th__instructros-info__icon th__normal-border th__rounded-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M10 1.76807C10 2.63832 10.8624 3.94057 11.7343 5.03423C12.8569 6.44232 14.1968 7.6724 15.7342 8.61157C16.8859 9.31482 18.2845 9.9899 19.408 9.9899M10 18.2321C10 17.3618 10.8624 16.0596 11.7343 14.9659C12.8569 13.5579 14.1968 12.3277 15.7342 11.3886C16.8859 10.6853 18.2845 10.0102 19.408 10.0102M19.408 10.0001H0.59201" stroke="#081933"/>
                                        </svg>
                                    </a>
                                    <div class="th__title-style-2">
                                        <h4 class="th__title-style-2__title"><a href="#" class="th__theme-secondary-color th__font-secondary th__fw-500">Ralph Edwards</a></h4>
                                    </div>
                                    <p class="th__instructros-info__work-type th__font-16 th__fw-500 th__slate-gray">Teacher of Development</p>
                                    <div class="th__instructros-info__social">
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#" class="th__primary-color-bg th__secondary-color th__rounded-border"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Instructros Area Home 3 -->
