<!-- Start Why Choose Area  -->
<section class="th__choose-area th__space-top th__space-top-styel-2 th__space-bottom position-relative">
        <img src="assets/images/hoem-3/shep/categories-shep-1.png" alt="Stadum" class="th__choose-area__shep-2">
        <div class="th__choose-video-banner wow th__slide__anim-left" data-background="assets/images/hoem-3/choose/1.png">
            <div class="th__choose-video-banner__play-wrapper">
                <a href="https://www.youtube.com/watch?v=PO_fBTkoznc" class="play-button-container th__video-play-button">
                    <div class="wave wave-1"></div>
                    <div class="wave wave-2"></div>
                    <div class="wave wave-3"></div>
                    <div class="play-button">
                        <div class="play-icon"></div>
                    </div>
                </a>
            </div>
        </div>
    <div class="th__container">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-12">
                <div class="th__choose-content">
                    <div class="th__title-style">
                        <p class="th__title-style__sub-title th__theme-primary-color th__subfont-title th__fw-600 text-uppercase wow th__slide__anim-left">WHY CHOOSE US</p>
                        <h2 class="th__title-style__title th__fw-500 text-capitalize wow th__slide__anim-right">The advantages of <br> our Courses</h2>
                        <p class="th__community-content__discription th__mt-25 th__mb-40">
                            At Stadum, you’ll be welcomed into a diverse community of learners of different races, genders, ages and ethnicities. With online and on-campus learning available.
                        </p>
                    </div>
                    <ul class="th__choose-content__options wow fadeInUp" data-wow-delay="0.50s">
                        <li class="th__choose-content__options__list d-flex align-items-center">
                            <span class="th__choose-content__options__icon th__theme-primary-color">
                                <i class="fa-sharp fa-light fa-octagon-check"></i>
                            </span>
                            <span class="th__choose-content__options__text th__fw-600 th__theme-secondary-color">We offer consistently with your-round schedules</span>
                        </li>
                        <li class="th__choose-content__options__list d-flex align-items-center">
                            <span class="th__choose-content__options__icon th__theme-primary-color">
                                <i class="fa-sharp fa-light fa-octagon-check"></i>
                            </span>
                            <span class="th__choose-content__options__text th__fw-600 th__theme-secondary-color">We have highly experienced  instructors</span>
                        </li>
                        <li class="th__choose-content__options__list d-flex align-items-center">
                            <span class="th__choose-content__options__icon th__theme-primary-color">
                                <i class="fa-sharp fa-light fa-octagon-check"></i>
                            </span>
                            <span class="th__choose-content__options__text th__fw-600 th__theme-secondary-color">We support you to ensure the success</span>
                        </li>
                        <li class="th__choose-content__options__list d-flex align-items-center">
                            <span class="th__choose-content__options__icon th__theme-primary-color">
                                <i class="fa-sharp fa-light fa-octagon-check"></i>
                            </span>
                            <span class="th__choose-content__options__text th__fw-600 th__theme-secondary-color">Get live class before start courses</span>
                        </li>
                    </ul>
                    <div class="th__choose-content__btn th__mt-50 wow fadeInLeft" data-wow-delay="0.80s">
                        <a href="#" class="th__primary-button th__btn-style-3 th__theme-primary-color-bg th__primary-color">
                            <span class="th__primary-button__text" data-hidden="Get More Info" data-visible="Get More Info"></span>
                            <span class="th__primary-button__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M8.00003 1.4144C8.00003 2.1106 8.68997 3.1524 9.38743 4.02733C10.2856 5.1538 11.3574 6.13786 12.5874 6.8892C13.5088 7.4518 14.6276 7.99186 15.5264 7.99186M8.00003 14.5856C8.00003 13.8894 8.68997 12.8476 9.38743 11.9727C10.2856 10.8463 11.3574 9.86213 12.5874 9.1108C13.5088 8.5482 14.6276 8.00813 15.5264 8.00813M15.5264 8H0.473633" stroke="white"/>
                                  </svg>
                            </span>
                        </a>
                        <span class="th__choose-area__shep-1">
                            <img src="assets/images/hoem-3/shep/choose-shep-1.png" alt="Stadum">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Why Choose Area  -->