<!-- Start Header Area -->
<header class="th__header-area position-relative">
    <div class="th__header-top-bar th__pt-16 th__pb-16">
        <div class="th__container">
            <div class="th__header-top-bar__wrapper d-flex align-items-center justify-content-sm-between justify-content-center">
                <div class="th__topbar-header-info d-flex align-items-center position-relative justify-content-sm-start justify-content-center flex-wrap">
                    <a href="#" class="th__topbar-header-info__contact th__primary-color th__font-14 th__fw-400 d-inline-flex align-items-center"><i class="fa-solid fa-location-dot th__mr-8"></i> 45 New Eskaton Road, Austria</a>
                    <a href="mailto:infomail@example.com" class="th__topbar-header-info__contact th__primary-color th__font-14 th__fw-400 d-inline-flex align-items-center th__mt-1"><i class="fa-solid fa-envelope th__mr-8 th__mt-1"></i> infomail@example.com</a>
                </div>
                <div class="th__topbar-header-link d-flex align-items-center">
                    <a href="#" class="th__topbar-header-link__user-details th__primary-color th__font-14 th__fw-400 d-lg-inline-flex d-none align-items-center position-relative"><i class="fa-solid fa-user th__mr-8 th__mt-1"></i> Login / Register</a>
                    <a href="#" class="th__topbar-header-link__faq-page th__primary-color th__font-14 th__fw-400 d-lg-inline-flex d-none text-uppercase position-relative"><i class="fa-solid fa-comments th__mr-8"></i> faq</a>
                    <div class="language-selector d-none d-sm-block">
                        <div class="selected-language">
                          <div class="flag uk-flag">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 30">
                              <clipPath id="s">
                                <path d="M0,0 v30 h60 v-30 z" />
                              </clipPath>
                              <clipPath id="t">
                                <path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z" />
                              </clipPath>
                              <g clip-path="url(#s)">
                                <path d="M0,0 v30 h60 v-30 z" fill="#012169" />
                                <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6" />
                                <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4" />
                                <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10" />
                                <path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6" />
                              </g>
                            </svg>
                          </div>
                          <span class="dropdown-icon"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none">
                            <path d="M5.50012 6C5.37225 6 5.24425 5.95113 5.14663 5.8535L0.146653 0.853527C-0.0487214 0.658153 -0.0487214 0.34178 0.146653 0.14653C0.342027 -0.0487185 0.6584 -0.0488435 0.853649 0.14653L5.50012 4.79301L10.1466 0.14653C10.342 -0.0488435 10.6583 -0.0488435 10.8536 0.14653C11.0488 0.341904 11.049 0.658278 10.8536 0.853527L5.85362 5.8535C5.756 5.95113 5.628 6 5.50012 6Z" fill="#E7E7E7"/>
                          </svg></span>
                        </div>
                        <div class="language-dropdown">
                          <div class="language-option" data-lang="en">
                            <div class="flag">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 30">
                                <clipPath id="s2">
                                  <path d="M0,0 v30 h60 v-30 z" />
                                </clipPath>
                                <clipPath id="t2">
                                  <path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z" />
                                </clipPath>
                                <g clip-path="url(#s2)">
                                  <path d="M0,0 v30 h60 v-30 z" fill="#012169" />
                                  <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6" />
                                  <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t2)" stroke="#C8102E" stroke-width="4" />
                                  <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10" />
                                  <path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6" />
                                </g>
                              </svg>
                            </div>
                          </div>
                          <div class="language-option" data-lang="fr">
                            <div class="flag">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 600">
                                <rect width="900" height="600" fill="#ED2939" />
                                <rect width="600" height="600" fill="#fff" />
                                <rect width="300" height="600" fill="#002395" />
                              </svg>
                            </div>
                          </div>
                          <div class="language-option" data-lang="es">
                            <div class="flag">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 750 500">
                                <rect width="750" height="500" fill="#c60b1e" />
                                <rect width="750" height="250" fill="#ffc400" y="125" />
                              </svg>
                            </div>
                          </div>
                          <div class="language-option" data-lang="de">
                            <div class="flag">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 600">
                                <rect width="1000" height="600" fill="#ffce00" />
                                <rect width="1000" height="400" fill="#d00" y="200" />
                                <rect width="1000" height="200" fill="#000" y="400" />
                              </svg>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="th__menu-area">
        <div class="th__container">
            <div class="th__menu-wrapper d-flex align-items-center justify-content-between">
                <div class="th__logo">
                    <a href="index.html">
                        <img src="assets/images/logo/black-logo.svg" alt="Stadum">
                    </a>
                </div>
                <div class="th__menu-box">
                    <nav class="main-menu">
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="#">Home</a>
                                <ul class="mega-menu wp__mega-menu-content">
                                    <li>
                                        <div class="mega-menu-box">
                                            <div class="mega-menu-img">
                                                <img src="assets/images/menu/1.jpg" alt="Stadum">
                                                <div class="mega-menu-img__overlay">
                                                    <a href="#" class="th__primary-button th__theme-primary-color-bg th__primary-color">One Page</a>
                                                    <a href="#" class="th__primary-button th__theme-primary-color-bg th__primary-color">Multipage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mega-menu-box">
                                            <div class="mega-menu-img">
                                                <img src="assets/images/menu/1.jpg" alt="Stadum">
                                                <div class="mega-menu-img__overlay">
                                                    <a href="#" class="th__primary-button th__theme-primary-color-bg">One Page</a>
                                                    <a href="#" class="th__primary-button th__theme-primary-color-bg">Multipage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mega-menu-box">
                                            <div class="mega-menu-img">
                                                <img src="assets/images/menu/1.jpg" alt="Stadum">
                                                <div class="mega-menu-img__overlay">
                                                    <a href="#" class="th__primary-button th__theme-primary-color-bg">One Page</a>
                                                    <a href="#" class="th__primary-button th__theme-primary-color-bg">Multipage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Academic</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Bootcamp</a></li>
                                    <li><a href="#">Live Class</a></li>
                                    <li><a href="#">Checkout</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Admission</a>
                            </li>
                            <li>
                                <a href="#">Event</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="th__header-btn">
                    <a href="#" class="th__primary-button th__theme-primary-color-bg th__primary-color">
                        <span class="th__primary-button__text" data-hidden="Contact Us" data-visible="Contact Us"></span>
                        <span class="th__primary-button__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M8.00003 1.4144C8.00003 2.1106 8.68997 3.1524 9.38743 4.02733C10.2856 5.1538 11.3574 6.13786 12.5874 6.8892C13.5088 7.4518 14.6276 7.99186 15.5264 7.99186M8.00003 14.5856C8.00003 13.8894 8.68997 12.8476 9.38743 11.9727C10.2856 10.8463 11.3574 9.86213 12.5874 9.1108C13.5088 8.5482 14.6276 8.00813 15.5264 8.00813M15.5264 8H0.473633" stroke="white"/>
                              </svg>
                        </span>
                    </a>
                    <a href="javascript:void(0)" class="th__mobile-menubar th__theme-secondary-color">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </a>
                </div>
            </div>
        </div>
    </div> 
   <span class="th__triangle-shep">
      <svg xmlns="http://www.w3.org/2000/svg" width="134" height="163" viewBox="0 0 134 163" fill="none">
        <path class="anim-path" d="M50.2861 101.099H4.62207L27.4541 61.5535L50.2861 101.099Z" stroke="#D3224D"/>
        <path class="anim-path" d="M27.4545 145.188L51.1521 104.143H3.75685L27.4545 145.188Z" fill="#D3224D"/>
        <path class="anim-path" d="M106.364 99.7332L130.061 58.6877H82.666L106.364 99.7332Z" fill="#D3224D"/>
        <path class="anim-path" d="M50.1953 14.1814H4.53125L27.3633 53.7273L50.1953 14.1814Z" stroke="#D3224D"/>
        <path class="anim-path" d="M76.377 59.4607H30.7129L53.5449 99.0066L76.377 59.4607Z" stroke="#D3224D"/>
        <path class="anim-path" d="M53.5453 16.0066L77.2429 57.052H29.8477L53.5453 16.0066Z" fill="#D3224D"/>
        <path class="anim-path" d="M103.104 100.463H57.4404L80.2725 60.9167L103.104 100.463Z" stroke="#D3224D"/>
        <path class="anim-path" d="M31.9863 148.189H77.6504L54.8184 108.643L31.9863 148.189Z" stroke="#D3224D"/>
        <path class="anim-path" d="M121.195 114.187H75.5312L98.3633 153.733L121.195 114.187Z" stroke="#D3224D"/>
      </svg>
    </span>
  </header>
<!-- End Header Area -->