<!-- Start Footer Area -->
<footer class="th__footer-area position-relative jarallax">
    <div class="th__footer-area__wrapper th__space-top" data-background="assets/images/footer/home-3-footer-bg.png">
        <div class="th__footer-top-part">
            <div class="th__container">
                <div class="th__footer-inner">
                    <div class="th__footer-inner__item wow fadeInUp" data-wow-delay="0.40s">
                        <div class="th__footer-logo">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.svg" alt="Stadum">
                            </a>
                            <p class="th__footer-inner__item__discription th__misty-sliver-blue th__font-16 th__fw-400 th__mt-25 th__inter-font">
                                Since 1999, when the newly minted Stadum team embraced its mandate to breathe new life into the downtrodden neighbourhood, East Village’s transformation has been nothing short of remarkable. 
                            </p>
                            <div class="th__footer-inner__item__contact-info th__mt-40">
                                <a href="#" class="th__mb-18">
                                    <span class="th__footer-contact-icon th__primary-color">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </span>
                                    <span class="th__footer-contact-text th__misty-sliver-blue">
                                        45 New Eskaton Road, Austria
                                    </span>
                                </a>
                                <a href="mailto:infomail@example.com">
                                    <span class="th__footer-contact-icon th__primary-color">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                    <span class="th__footer-contact-text th__misty-sliver-blue">
                                        infomail@example.com
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="th__footer-inner__item wow fadeInLeft" data-wow-delay="0.60s">
                        <div class="th__footer-menu">
                            <h4 class="th__footer-menu__title th__misty-sliver-blue th__fw-500 th__mb-25">Useful Links</h4>
                            <ul>
                                <li><a href="#">Students</a></li>
                                <li><a href="#">Admission</a></li>
                                <li><a href="#">Faculty & Stuffs</a></li>
                                <li><a href="#">Media Relations</a></li>
                                <li><a href="#">Alumni</a></li>
                                <li><a href="#">All Awards</a></li>
                                <li><a href="#">Recent Events</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="th__footer-inner__item wow fadeInRight" data-wow-delay="0.70s">
                        <div class="th__footer-menu">
                            <h4 class="th__footer-menu__title th__misty-sliver-blue th__fw-500 th__mb-25">Our Programs</h4>
                            <ul>
                                <li><a href="#">Ungraduate Programs</a></li>
                                <li><a href="#">Graduate Programs</a></li>
                                <li><a href="#">Certificate Programs</a></li>
                                <li><a href="#">Accelerate Programs</a></li>
                                <li><a href="#">Online Programs</a></li>
                                <li><a href="#">Financial Planning</a></li>
                                <li><a href="#">Business Advisory</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="th__footer-inner__item wow fadeInUp" data-wow-delay="0.80s">
                        <div class="th__footer-menu">
                            <h4 class="th__footer-menu__title th__misty-sliver-blue th__fw-500 th__mb-25">Instagram</h4>
                            <div class="th__footer-thumb-wrapper">
                                <div class="th__footer-thumb">
                                    <img src="assets/images/footer/home-3-1.png" alt="Stadum">
                                    <div class="th__footer-thumb-icon">
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="th__footer-thumb">
                                    <img src="assets/images/footer/home-3-2.png" alt="Stadum">
                                    <div class="th__footer-thumb-icon">
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="th__footer-thumb">
                                    <img src="assets/images/footer/home-3-3.png" alt="Stadum">
                                    <div class="th__footer-thumb-icon">
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="th__footer-thumb">
                                    <img src="assets/images/footer/home-3-4.png" alt="Stadum">
                                    <div class="th__footer-thumb-icon">
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="th__footer-thumb">
                                    <img src="assets/images/footer/home-3-5.png" alt="Stadum">
                                    <div class="th__footer-thumb-icon">
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="th__footer-thumb">
                                    <img src="assets/images/footer/home-3-6.png" alt="Stadum">
                                    <div class="th__footer-thumb-icon">
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="th__footer-copyright">
            <div class="th__container wow fadeInUp">
                <div class="th__footer-copyright__item">
                    <p class="th__font-16 th__fw-400 th__misty-sliver-blue">Copyright © 2025 <a href="index.html" class="th__theme-primary-color">Stadum.</a> All Rights Reserved.</p>
                    <div class="th__footer-social-media">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->