<!-- Start Text Sliding Area -->
<section class="th__text-slider-area th__space-bottom position-relative overflow-hidden">
    <div class="th__text-slider-area__wrapper">
        <div class="th__text-slider-area__wrapper__inner">
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-book-open-cover"></i>
                </span>
            </div>
            <div class="th__text-slider-content">
                <h2 class="th__text-slider-content__text text-uppercase">DISCOVER</h2>
                <span class="th__text-slider-content__icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </div>
        </div>
    </div>
</section>
<!-- End Text Sliding Area -->