<!-- Start Community Area Home 3 -->
<section class="th__community-area th__theme-section-color-bg th__space-top th__space-top-styel-2 th__space-bottom position-relative">
    <div class="th__community-righ-site-img wow th__slide__anim-right" data-background="assets/images/hoem-3/community/1.png">
        <div class="th__community-area__shep">
            <span class="th__triangle-shep">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 163" fill="none">
                <!-- Borders -->
                <g>
                  <path class="border-path" d="M50.2861 101.099H4.62207L27.4541 61.5535L50.2861 101.099Z"/>
                  <path class="border-path" d="M27.4545 145.188L51.1521 104.143H3.75685L27.4545 145.188Z"/>
                  <path class="border-path" d="M106.364 99.7332L130.061 58.6877H82.666L106.364 99.7332Z"/>
                  <path class="border-path" d="M50.1953 14.1814H4.53125L27.3633 53.7273L50.1953 14.1814Z"/>
                  <path class="border-path" d="M76.377 59.4607H30.7129L53.5449 99.0066L76.377 59.4607Z"/>
                  <path class="border-path" d="M53.5453 16.0066L77.2429 57.052H29.8477L53.5453 16.0066Z"/>
                  <path class="border-path" d="M103.104 100.463H57.4404L80.2725 60.9167L103.104 100.463Z"/>
                  <path class="border-path" d="M31.9863 148.189H77.6504L54.8184 108.643L31.9863 148.189Z"/>
                  <path class="border-path" d="M121.195 114.187H75.5312L98.3633 153.733L121.195 114.187Z"/>
                </g>
              
                <!-- Fills -->
                <g id="fills">
                  <path class="fill-path" d="M50.2861 101.099H4.62207L27.4541 61.5535L50.2861 101.099Z"/>
                  <path class="fill-path" d="M27.4545 145.188L51.1521 104.143H3.75685L27.4545 145.188Z"/>
                  <path class="fill-path" d="M106.364 99.7332L130.061 58.6877H82.666L106.364 99.7332Z"/>
                  <path class="fill-path" d="M50.1953 14.1814H4.53125L27.3633 53.7273L50.1953 14.1814Z"/>
                  <path class="fill-path" d="M76.377 59.4607H30.7129L53.5449 99.0066L76.377 59.4607Z"/>
                  <path class="fill-path" d="M53.5453 16.0066L77.2429 57.052H29.8477L53.5453 16.0066Z"/>
                  <path class="fill-path" d="M103.104 100.463H57.4404L80.2725 60.9167L103.104 100.463Z"/>
                  <path class="fill-path" d="M31.9863 148.189H77.6504L54.8184 108.643L31.9863 148.189Z"/>
                  <path class="fill-path" d="M121.195 114.187H75.5312L98.3633 153.733L121.195 114.187Z"/>
                </g>
              </svg>
            </span>
        </div>
    </div>
    <div class="th__container">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-12">
                <div class="th__community-content">
                    <div class="th__title-style">
                        <p class="th__title-style__sub-title th__theme-primary-color th__subfont-title th__fw-600 text-uppercase wow th__slide__anim-left">COMMUNITY</p>
                        <h2 class="th__title-style__title th__fw-500 text-capitalize wow th__slide__anim-right">Life long learning <br> <span class="th__fw-500 th__theme-primary-color th__font-secondary text-capitalize">community</span></h2>
                        <p class="th__community-content__discription th__mt-25 th__mb-55 wow fadeInLeft">At Stadum University we are committed to providing <br> a high-quality education that is accessible.</p>
                    </div>
                    <div class="th__community-content__items">
                        <div class="th__community-content-box th__pt-40 th__pb-40 th__pl-25 th__pr-25 th__primary-color-bg wow fadeInLeft" data-wow-delay="0.50s">
                            <div class="th__community-content-box__icons">
                                <span class="th__community-content-box__icon">
                                    <i class="fa-solid fa-book-open-cover"></i>
                                </span>
                            </div>
                            <div class="th__community-content-box__text">
                                <h4 class="th__community-content-box__text__title th__fw-500">Exclusive Coach</h4>
                                <p class="th__fw-400">We believe in the power of knowledge to transform</p>
                            </div>
                        </div>
                        <div class="th__community-content-box th__pt-40 th__pb-40 th__pl-25 th__pr-25 th__primary-color-bg wow fadeInRight" data-wow-delay="0.70s">
                            <div class="th__community-content-box__icons">
                                <span class="th__community-content-box__icon">
                                    <i class="fa-solid fa-lightbulb-exclamation-on"></i>
                                </span>
                            </div>
                            <div class="th__community-content-box__text">
                                <h4 class="th__community-content-box__text__title th__fw-500">Creative Minds</h4>
                                <p class="th__fw-400">We believe in the power of knowledge to transform</p>
                            </div>
                        </div>
                        <div class="th__community-content-box th__pt-40 th__pb-40 th__pl-25 th__pr-25 th__primary-color-bg wow fadeInUp" data-wow-delay="0.90s">
                            <div class="th__community-content-box__icons">
                                <span class="th__community-content-box__icon">
                                    <i class="fa-solid fa-book-sparkles"></i>
                                </span>
                            </div>
                            <div class="th__community-content-box__text">
                                <h4 class="th__community-content-box__text__title th__fw-500">Video Tutorials</h4>
                                <p class="th__fw-400">We believe in the power of knowledge to transform</p>
                            </div>
                        </div>
                        <div class="th__community-content-box th__pt-40 th__pb-40 th__pl-25 th__pr-25 th__primary-color-bg wow fadeInLeft" data-wow-delay="0.40s">
                            <div class="th__community-content-box__icons">
                                <span class="th__community-content-box__icon">
                                    <i class="fa-solid fa-files"></i>
                                </span>
                            </div>
                            <div class="th__community-content-box__text">
                                <h4 class="th__community-content-box__text__title th__fw-500">Great Resources</h4>
                                <p class="th__fw-400">We believe in the power of knowledge to transform</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Community Area Home 3 -->