<!-- Start Instructros Area Home 3 -->
<section class="th__instructros-area position-relative th__space">
    <div class="th__container">
        <div class="th__instructros-area__wrapper-top">
            <div class="th__title-style">
                <p class="th__title-style__sub-title th__theme-primary-color th__subfont-title th__fw-600 text-uppercase wow th__slide__anim-left">INSTRUCTORS</p>
                <h2 class="th__title-style__title th__fw-500 text-capitalize wow th__slide__anim-right">our experienced  <span class="th__fw-500 th__theme-primary-color th__font-secondary text-capitalize">instructors</span> <br> courses to you</h2>
            </div>

        </div>
        <!-- <div class=""></div> -->
    </div>
</section>
<!-- End Instructros Area Home 3 -->