<!-- Start MentorShip Area -->
<section class="th__mentor-area th__space-top th__space-top-styel-2 th__space-bottom position-relative">
    <div class="th__container">
        <div class="th__title-style text-center th__mb-50">
            <p class="th__title-style__sub-title th__theme-primary-color th__subfont-title th__fw-600 text-uppercase wow th__slide__anim-left">MENTORSHIP</p>
            <h2 class="th__title-style__title th__fw-500 text-capitalize wow th__slide__anim-right">Read to Join?</h2>
        </div>
        <div class="th__mentor-area__wrapper">
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.56s">
                    <div class="th__mentor-content">
                        <div class="th__mentor-content__img">
                            <img src="assets/images/hoem-3/mentorship/1.png" alt="Stadum" class="wow th__slide__anim-left">
                        </div>
                        <div class="th__mentor-content__info">
                            <h3 class="th__mentor-content__info__title text-center th__fw-700 th__mb-16">Become An Instructor</h3>
                            <p class="th__mentor-content__info__sub-title text-center th__foggy-slate th__font-20 th__fw-400">Top 20 courses among our 1350+ free online courses by experts</p>
                            <div class="th__mentor-content__info__btn th__mt-40">
                                <a href="#" class="th__primary-button th__btn-style-3 th__theme-primary-color-bg th__primary-color">
                                    <span class="th__primary-button__text" data-hidden="Get More Info" data-visible="Get More Info"></span>
                                    <span class="th__primary-button__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M8.00003 1.4144C8.00003 2.1106 8.68997 3.1524 9.38743 4.02733C10.2856 5.1538 11.3574 6.13786 12.5874 6.8892C13.5088 7.4518 14.6276 7.99186 15.5264 7.99186M8.00003 14.5856C8.00003 13.8894 8.68997 12.8476 9.38743 11.9727C10.2856 10.8463 11.3574 9.86213 12.5874 9.1108C13.5088 8.5482 14.6276 8.00813 15.5264 8.00813M15.5264 8H0.473633" stroke="white"/>
                                          </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.78s">
                    <div class="th__mentor-content">
                        <div class="th__mentor-content__img">
                            <img src="assets/images/hoem-3/mentorship/2.png" alt="Stadum" class="wow th__slide__anim-right">
                        </div>
                        <div class="th__mentor-content__info">
                            <h3 class="th__mentor-content__info__title text-center th__fw-700 th__mb-16">Access To Inclusive Education</h3>
                            <p class="th__mentor-content__info__sub-title text-center th__foggy-slate th__font-20 th__fw-400">Top 20 courses among our 1350+ free online courses by experts</p>
                            <div class="th__mentor-content__info__btn th__mt-40">
                                <a href="#" class="th__primary-button th__btn-style-3 th__theme-primary-color-bg th__primary-color">
                                    <span class="th__primary-button__text" data-hidden="Get More Info" data-visible="Get More Info"></span>
                                    <span class="th__primary-button__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M8.00003 1.4144C8.00003 2.1106 8.68997 3.1524 9.38743 4.02733C10.2856 5.1538 11.3574 6.13786 12.5874 6.8892C13.5088 7.4518 14.6276 7.99186 15.5264 7.99186M8.00003 14.5856C8.00003 13.8894 8.68997 12.8476 9.38743 11.9727C10.2856 10.8463 11.3574 9.86213 12.5874 9.1108C13.5088 8.5482 14.6276 8.00813 15.5264 8.00813M15.5264 8H0.473633" stroke="white"/>
                                          </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End MentorShip Area -->