<!-- Start Hero Area -->
<section class="th__hero-area position-relative">
    <div class="th__hero-area__wrapper position-relative">
        <div class="th__hero-slider-home-3 swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="th__hero-bg-banner" data-background="assets/images/hero/hero.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="th__hero-bg-banner" data-background="assets/images/hero/hero.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="th__hero-bg-banner" data-background="assets/images/hero/hero.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="th__hero-bg-banner" data-background="assets/images/hero/hero.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="th__swiper-pagination-wrapper">
            <div class="swiper-pagination"></div>
        </div>
        <div class="th__containers position-relative">
            <div class="th__hero-content-inner">
                <div class="th__container">
                    <div class="th__hero-content">
                        <div class="th__hero-content__text">
                            <h1 class="th__hero-content__text__title th__primary-color th__fw-500 wow th__slide__anim-left">Unlock Your Potential With
                                <br> Stadum 2500+ Courses</h1>
                            <p class="th__hero-content__text__peragraph th__primary-color th__fw-400 th__mt-22 wow th__slide__anim-right">We want every student and
                                study partner to feel that they are part of a common good <br> and cohesive team. We help our
                                teams form stronger relationships.</p>
                            <div class="th__hero-content__text__search-fild th__mt-55 wow fadeInLeft" data-wow-delay="0.55s">
                                <form action="#" method="POST">
                                    <input type="text" class="th__primary-color-bg" placeholder="What do you want to learn?">
                                    <button type="submit"
                                        class="th__theme-primary-color-bg th__primary-color d-inline-flex align-items-center justify-content-center"><i
                                            class="fa-light fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="th__hero-button wow fadeInUp" data-wow-delay="0.79s">
                            <a href="https://www.youtube.com/watch?v=PO_fBTkoznc" class="play-button-container th__video-play-button">
                                <div class="wave wave-1"></div>
                                <div class="wave wave-2"></div>
                                <div class="wave wave-3"></div>
                                <div class="play-button play-button-style-2">
                                    <div class="play-icon play-icon-style-2"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->
