<!-- Start Partners Area -->
<section class="th__partners-area th__space-top th__space-top-styel-2 th__space-bottom position-relative">
    <div class="th__container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="th__partners-content th__991__mb-50">
                    <div class="th__title-style">
                        <p class="th__title-style__sub-title th__theme-primary-color th__subfont-title th__fw-600 text-uppercase wow th__slide__anim-left">PARTNER</p>
                        <h2 class="th__title-style__title th__fw-500 text-capitalize wow th__slide__anim-right">Learn with our <br> <span class="th__fw-500 th__theme-primary-color th__font-secondary text-capitalize">  partner </span></h2>
                    </div>
                    <p class="th__fw-400 th__partners-content__discription th__mt-24 th__mb-45 th__991__mb-25 th__991__mt-15 wow fadeInLeft">At Stadum University we are committed to providing a high-quality education</p> 
                    <a href="#" class="th__primary-button th__btn-style-3 th__theme-primary-color-bg th__primary-color wow fadeInLeft" data-wow-delay="0.65s">
                        <span class="th__primary-button__text" data-hidden="Start Learning" data-visible="Start Learning"></span>
                        <span class="th__primary-button__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M8.00003 1.4144C8.00003 2.1106 8.68997 3.1524 9.38743 4.02733C10.2856 5.1538 11.3574 6.13786 12.5874 6.8892C13.5088 7.4518 14.6276 7.99186 15.5264 7.99186M8.00003 14.5856C8.00003 13.8894 8.68997 12.8476 9.38743 11.9727C10.2856 10.8463 11.3574 9.86213 12.5874 9.1108C13.5088 8.5482 14.6276 8.00813 15.5264 8.00813M15.5264 8H0.473633" stroke="white"/>
                              </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="th__partners-logo-item">
                    <a href="#" class="wow fadeInUp" data-wow-delay="0.56s">
                        <img src="assets/images/hoem-3/partners/1.svg" alt="Stadum">
                    </a>
                    <a href="#" class="wow fadeInLeft" data-wow-delay="0.50s">
                        <img src="assets/images/hoem-3/partners/2.svg" alt="Stadum">
                    </a>
                    <a href="#" class="wow fadeInRight" data-wow-delay="0.90s">
                        <img src="assets/images/hoem-3/partners/3.svg" alt="Stadum">
                    </a>
                    <a href="#" class="wow fadeInUp" data-wow-delay="0.80s">
                        <img src="assets/images/hoem-3/partners/4.svg" alt="Stadum">
                    </a>
                    <a href="#" class="wow fadeInLeft" data-wow-delay="0.70s">
                        <img src="assets/images/hoem-3/partners/5.svg" alt="Stadum">
                    </a>
                    <a href="#" class="wow fadeInRight" data-wow-delay="0.60s">
                        <img src="assets/images/hoem-3/partners/6.svg" alt="Stadum">
                    </a>
                    <a href="#" class="wow fadeInUp" data-wow-delay="0.50s">
                        <img src="assets/images/hoem-3/partners/7.svg" alt="Stadum">
                    </a>
                    <a href="#" class="wow fadeInLeft" data-wow-delay="0.40s">
                        <img src="assets/images/hoem-3/partners/8.svg" alt="Stadum">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Partners Area  -->