    <!-- Start Mobile Menu -->
    <div class="th__mobile-menu">
        <div class="th__menu-header">
            <div class="th__logo">
                <a href="index.html">
                    <img src="assets/images/logo/black-logo.svg" alt="Stadum">
                </a>
            </div>
            <button class="th__close-btn"><i class="fa-sharp fa-light fa-xmark"></i></button>
        </div>

        <div class="th__mobile-menu-search">
            <form action="#">
                <input type="text" placeholder="Search Here">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

        <div class="th__mobile-menu-btn">
            <a href="#" class="th__primary-button th__btn-style-2 th__theme-primary-color-bg th__primary-color"><span class="th__primary-button__text" data-hidden="Contact Us" data-visible="Contact Us"></span> <span class="th__primary-button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M8.00003 1.4144C8.00003 2.1106 8.68997 3.1524 9.38743 4.02733C10.2856 5.1538 11.3574 6.13786 12.5874 6.8892C13.5088 7.4518 14.6276 7.99186 15.5264 7.99186M8.00003 14.5856C8.00003 13.8894 8.68997 12.8476 9.38743 11.9727C10.2856 10.8463 11.3574 9.86213 12.5874 9.1108C13.5088 8.5482 14.6276 8.00813 15.5264 8.00813M15.5264 8H0.473633" stroke="white"></path></svg></span></a>
        </div>

        <nav>
            <ul class="th__nav-list">
                <li class="th__nav-item">
                    <a href="#" class="th__nav-link" onclick="return false;">
                        Home
                        <span class="th__toggle-btn"></span>
                    </a>
                    <ul class="th__submenu">
                        <li class="th__submenu-item"><a href="index.html" class="th__submenu-link">Home One</a>
                        </li>
                        <li class="th__submenu-item"><a href="index-two.html" class="th__submenu-link">Home
                                Two</a></li>
                        <li class="th__submenu-item"><a href="index-two.html" class="th__submenu-link">Home
                                Three</a></li>
                    </ul>
                </li>
                <li class="th__nav-item">
                    <a href="#" class="th__nav-link" onclick="return false;">
                        Services
                        <span class="th__toggle-btn"></span>
                    </a>
                    <ul class="th__submenu">
                        <li class="th__submenu-item"><a href="services.html"
                                class="th__submenu-link">Services</a></li>
                        <li class="th__submenu-item"><a href="index-two.html" class="th__submenu-link">Service
                                Details</a></li>
                        <li class="th__submenu-item"><a href="index-two.html" class="th__submenu-link">Home
                                Three</a></li>
                    </ul>
                </li>
                <li class="th__nav-item">
                    <a href="#" class="th__nav-link" onclick="return false;">
                        Pages
                        <span class="th__toggle-btn"></span>
                    </a>
                    <ul class="th__submenu">
                        <li class="th__submenu-item"><a href="team.html" class="th__submenu-link">Team</a></li>
                        <li class="th__submenu-item"><a href="team-details.html" class="th__submenu-link">Team
                                Details</a>
                        </li>
                        <li class="th__submenu-item"><a href="pricing.html" class="th__submenu-link">Pricing</a>
                        </li>
                        <li class="th__submenu-item"><a href="faq.html" class="th__submenu-link">Faq</a></li>
                        <li class="th__submenu-item"><a href="404.html" class="th__submenu-link">404</a></li>
                    </ul>
                </li>
                <li class="th__nav-item">
                    <a href="#" class="th__nav-link" onclick="return false;">
                        Services
                        <span class="th__toggle-btn"></span>
                    </a>
                    <ul class="th__submenu">
                        <li class="th__submenu-item"><a href="service.html" class="th__submenu-link">Service</a>
                        </li>
                        <li class="th__submenu-item"><a href="service-details.html"
                                class="th__submenu-link">Service
                                Details</a></li>
                    </ul>
                </li>
                <li class="th__nav-item">
                    <a href="#" class="th__nav-link" onclick="return false;">
                        Blog
                        <span class="th__toggle-btn"></span>
                    </a>
                    <ul class="th__submenu">
                        <li class="th__submenu-item"><a href="blog.html" class="th__submenu-link">Blogs Grid</a>
                        </li>
                        <li class="th__submenu-item"><a href="blog-standard.html" class="th__submenu-link">Blogs
                                Standard</a></li>
                        <li class="th__submenu-item"><a href="blog-details.html" class="th__submenu-link">Blog
                                Details</a>
                        </li>
                    </ul>
                </li>
                <li class="th__nav-item">
                    <a href="contact.html" class="th__nav-link">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="mobile-menu-contact-info">
            <a href="mailto:th@yourdomain.com" class="th__header-topbar-info th__fs-15 th__fw-400 th__white"><i
                    class="fa-sharp fa-light fa-envelope"></i> vs@yourdomain.com</a>
            <a href="tel:880-61234567890" class="th__header-topbar-info th__fs-15 th__fw-400 th__white"><i
                    class="fa-light fa-phone"></i> +880-61234567890</a>
        </div>
        <div class="mobile-menu-social-media">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="th__mobile-menu-copyright">
            <p class="th__mobile-menu-copyright-text">© 2025 <a href="#">Stadum.</a> . All Rights Reserved.</p>
        </div>
    </div>
    <!-- End Mobile Menu -->

    <!-- Start Overlay -->
     <div class="th__overlay"></div>
    <!-- End Overlay -->